<p>{{ application.description }}</p>
<table class="ui basic collapsing table">
  <tbody>
  <tr>
    <td>Developers</td>
    <td><p>{{ application.developers }}</p></td>
  </tr>
  <tr>
    <td>Designers</td>
    <td><p>{{ application.designers }}</p></td>
  </tr>
  <tr>
    <td>Mentors</td>
    <td><p>{{ application.mentors }}</p></td>
  </tr>
  </tbody>
</table>
<div class="ui button">
  <i class="ui bug icon"></i>Report bug
</div>
<div class="ui button">
  <i class="ui unhide icon"></i>View bugs
</div>