.ui.relaxed.list .item::before {
    color: #ffffff;
    font-weight: 700;
}

.ui.relaxed.list .item .content a {
    color: #ffffff;
}

.ui.relaxed.list .item .content a:hover {
    color: #ffffff;
}

.ui.relaxed.list .item .content a:hover::after {
    color: #ffffff;
}