header {
    flex-grow: 0;
}

main {
    flex-grow: 1;
}

footer {
    flex-grow: 0;
}

header .ui.container {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

header .ui.container h1 {
    display: inline-block;
    margin: 0;
    flex-grow: 1;
}

header .ui.container h1 a {
    color: #f8d16c;
    font-weight: 400;
    font-size: 1.5em;
}

header .ui.container h1 a:hover::after {
    color: #f8d16c;
}

header .ui.container .ui.header .sub.header {
    color: #ffffff;
}

header .ui.container .ui.header .sub.header em {
    font-weight: 400;
    color: #ffffff;
}

header .ui.container app-nav {
    display: inline-block;
    margin: 0;
    flex-grow: 0;
}

main .ui.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer .ui.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer .ui.container a {
    color: #c3c3c3;
}

footer .ui.container a:hover::after {
    color: #c3c3c3;
}