<header>
  <div class="ui container">
    <h1 class="ui header">
      <a href="{{ titleLink }}" target="_blank">parche</a>
      <span class="sub header"><em>/ˈpaɾʧe/</em>&ensp;n. patch</span>
    </h1>
    <app-nav></app-nav>
  </div>
</header>
<main>
  <div class="ui container">
    <app-home
        *ngIf="!selectedApplication">
    </app-home>
    <app-application
        *ngIf="selectedApplication"
        [application]="selectedApplication">
    </app-application>
  </div>
</main>
<footer>
  <div class="ui container">
    <a href="{{ creditsLink }}" target="_blank">{{ credits }}</a>
  </div>
</footer>