<header>
  <div class="ui container">
    <h1 class="ui header">
      <a href="{{ titleLink }}" target="_blank">parche</a>
      <span class="sub header"><em>/ˈpaɾʧe/</em>&ensp;n. patch</span>
    </h1>
    <app-nav></app-nav>
  </div>
</header>
<main>
  <div class="ui container">
    <div class="ui grid">
      <div class="twelve wide column"><app-testing-applications></app-testing-applications></div>
      <div class="four wide column"><app-leaderboard></app-leaderboard></div>
    </div>
  </div>
</main>
<footer>
  <div class="ui container">
    <a href="{{ creditsLink }}" target="_blank">{{ credits }}</a>
  </div>
</footer>