.ui.relaxed.list .item::before {
    color: #b58900;
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
}

.ui.relaxed.list .item .content a {
    color: #b58900;
}

.ui.relaxed.list .item .content a:hover {
    color: #b58900;
}

.ui.relaxed.list .item .content a:hover::after {
    color: #b58900;
}