ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 0;
    align-items: center;
}

/deep/ li {
    padding: 1rem;
    list-style: none;
}

*:first-of-type {
    padding-left: 0;
}

*:last-of-type {
    padding-right: 0;
}

/deep/ a {
    color: #f8d16c;
}

/deep/ a:hover {
    color: #f8d16c;
}

/deep/ a:hover::after {
    color: #f8d16c;
}