@font-face {
    font-family: "HelveticaNeue";
    font-weight: normal;
    font-style: normal;
    src: url("assets/HelveticaNeue-55.ttf");
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: normal;
    font-style: italic;
    src: url("assets/HelveticaNeue-56.ttf");
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: bold;
    font-style: normal;
    src: url("assets/HelveticaNeue-65.ttf");
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: bold;
    font-style: italic;
    src: url("assets/HelveticaNeue-66.ttf");
}

@keyframes blink-invisible {
    0% {
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.0;
    }
}

@keyframes blink-visible {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

*:not(.icon) {
    font-family: "HelveticaNeue", serif !important;
}

html {
    height: 100%;
}

body, app-root {
    min-height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    background-color: #293b52;
}

h3 {
    color: #f8d16c;
    font-weight: 400;
}

a::after {
    color: transparent;
    content: "_";
}

a:hover::after {
    animation-name: blink-invisible;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

p {
    color: #c3c3c3;
}

em {
    color: #eeeeee;
    font-weight: 700;
}